.header {
    display: flex;
    padding-top: 45px;
    margin: 0 auto 0;
    max-width: 880px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    .header {
        max-width: 600px;
    }

    @media screen and (max-width:650px) {
        .header {
            margin: 28px auto 0px;
            min-width: 100%;
        }

    }

}